<!-- <script src="../shared/turnjs/hash.js"></script>
<script src="../shared/turnjs/turn.js"></script>
<script src="../shared/turnjs/zoom.min.js"></script>
<script src="../shared/turnjs/magazine.js"></script> -->
<h1>Liseuse</h1>
<div class="flipbook-viewport">
  <div class="container">
    <div class="flipbook">
      <div style="background-image:url(src/app/pdf-viewer/pages/1.jpg)"></div>
      <div style="background-image:url(src/app/pdf-viewer/pages/2.jpg)"></div>
      <div style="background-image:url(src/app/pdf-viewer/pages/3.jpg)"></div>
      <div style="background-image:url(src/app/pdf-viewer/pages/4.jpg)"></div>
      <div style="background-image:url(src/app/pdf-viewer/pages/5.jpg)"></div>
      <div style="background-image:url(src/app/pdf-viewer/pages/6.jpg)"></div>
      <div style="background-image:url(src/app/pdf-viewer/pages/7.jpg)"></div>
      <div style="background-image:url(src/app/pdf-viewer/pages/8.jpg)"></div>
      <div style="background-image:url(src/app/pdf-viewer/pages/9.jpg)"></div>
      <div style="background-image:url(src/app/pdf-viewer/pages/10.jpg)"></div>
      <div style="background-image:url(src/app/pdf-viewer/pages/11.jpg)"></div>
      <div style="background-image:url(src/app/pdf-viewer/pages/12.jpg)"></div>
    </div>
  </div>
</div>
